<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="css/theme-chalk.index.css">
</head>
<!-- import Vue before Element -->
<script src="lib/vue.js"></script>
<!-- import JavaScript -->
<script src="lib/element-ui.2.3.9.index.js"></script>
<script src=lib/nebPay.js></script>
<script src=lib/nebulas.js></script>
<div id="app">
    <el-row>
        <el-col :span="24">
            <div class="top-box">
                <div style="margin-left: 50px">
                    <h1>区块链乡村直通车</h1>
                    <div style="margin-left: 220px">
                        <h4>随时把握回乡的幸福时刻~</h4>
                    </div>
                </div>
            </div>
        </el-col>
    </el-row>
    <el-row>
        <el-col :span="24">
            <div style="margin-top: 120px;margin-left: 50px;margin-right: 50px">
                <template>
                    <el-tabs v-model="activeName"
                             v-loading="loading2"
                             :element-loading-text="loading2Text"
                             element-loading-spinner="el-icon-loading"
                             @tab-click="handleClick">
                        <el-tab-pane label="班次查询" name="first">
                            <el-form :inline="true">
                                <el-form-item size="small" label="出发城市">
                                    <el-input size="small" v-model="searchParam.fromCity" placeholder="信阳"></el-input>
                                </el-form-item>
                                <el-form-item size="small" label="到达城市">
                                    <el-input size="small" v-model="searchParam.toCity" placeholder="李家寨"></el-input>
                                </el-form-item>
                                <el-form-item label="发布人星云账号">
                                    <el-input size="small" v-model="searchParam.user"
                                              placeholder="n1eu6yJuFpY6Jwr8WFyynfqsRM6LCagsRWg"></el-input>
                                </el-form-item>
                                <el-form-item>
                                    <el-button type="info" size="small" @click="getCoachList" plain>查询</el-button>
                                </el-form-item>
                                <el-form-item>
                                    <el-button type="info" size="small" @click="pushCoach" plain>发布班次</el-button>
                                </el-form-item>
                            </el-form>
                            <el-table
                                    v-loading="listLoading"
                                    element-loading-text="正在加载区块数据..."
                                    :data="coachList"
                                    style="width: 100%;margin-left: 10px;margin-top: 10px">
                                <el-table-column
                                        prop="fromCity"
                                        label="出发城市"
                                        width="100">
                                </el-table-column>
                                <el-table-column
                                        prop="toCity"
                                        label="到达城市"
                                        width="100">
                                </el-table-column>
                                <el-table-column
                                        prop="fromStation"
                                        min-width="120"
                                        label="出发站点">
                                </el-table-column>
                                <el-table-column
                                        prop="toStation"
                                        min-width="120"
                                        label="到达站点">
                                </el-table-column>
                                <el-table-column
                                        prop="fromTime"
                                        width="100"
                                        label="出发时间">
                                </el-table-column>
                                <el-table-column
                                        prop="score"
                                        width="100"
                                        label="服务分数">
                                </el-table-column>
                                <el-table-column
                                        prop="scoreCount"
                                        width="100"
                                        label="评论人数">
                                </el-table-column>
                                <el-table-column
                                        min-width="200"
                                        label="车辆信息">
                                    <template scope="scope">
                                        车型: {{scope.row.busType}}<br>
                                        司机昵称: {{scope.row.driverName}}<br>
                                        联系方式: {{scope.row.driverMobile}}<br>
                                        发布人: {{scope.row.from}}<br>
                                    </template>
                                </el-table-column>

                                <el-table-column
                                        prop="dateStr"
                                        width="150"
                                        label="提交时间">
                                </el-table-column>
                                <el-table-column
                                        prop="dateStr"
                                        width="200"
                                        label="评分">
                                    <template scope="scope">
                                        <el-rate
                                                @change="submitScore(scope.row.index,$event)"
                                                :colors="['#99A9BF', '#F7BA2A', '#FF9900']"
                                                show-text>
                                        </el-rate>
                                    </template>
                                </el-table-column>
                            </el-table>
                            <el-row :gutter="20">
                                <el-col :span="12">
                                    <el-pagination
                                            @size-change="handleSizeChange"
                                            @current-change="handleCurrentChange"
                                            :current-page="currentPage"
                                            :page-sizes="[5, 10, 20, 50]"
                                            :page-size="pageSize"
                                            style="margin-left: 20px"
                                            layout="total, sizes, prev, pager, next, jumper"
                                            :total="totalCount">
                                    </el-pagination>
                                </el-col>
                            </el-row>

                        </el-tab-pane>
                        <el-tab-pane label="发布班次" name="second" v-loading="true">
                            <el-form :inline="true" :rules="rules" :model="coach" ref="coach">
                                <el-form-item label="出发城市" prop="fromCity">
                                    <el-input v-model="coach.fromCity" style="width: 300px"
                                              placeholder="出发乡镇 如: 李家寨"></el-input>
                                </el-form-item>
                                <el-form-item label="到达城市" prop="toCity">
                                    <el-input v-model="coach.toCity" style="width: 300px"
                                              placeholder="出发乡镇 如: 李家寨"></el-input>
                                </el-form-item>
                            </el-form>
                            <el-form :inline="true" :rules="rules" class="demo-form-inline" :model="coach" ref="coach">
                                <el-form-item label="出发站点" prop="fromStation">
                                    <el-input v-model="coach.fromStation" style="width: 300px"
                                              placeholder="具体发车点 如:漯河火车站广场"></el-input>
                                </el-form-item>
                                <el-form-item label="到达站点" prop="toStation">
                                    <el-input v-model="coach.toStation" style="width: 300px"
                                              placeholder="下车站点 如:沿途任意地点"></el-input>
                                </el-form-item>
                            </el-form>
                            <el-form :inline="true" class="demo-form-inline" :rules="rules" :model="coach" ref="coach">
                                <el-form-item label="车型" prop="busType">
                                    <el-radio-group v-model="coach.busType">
                                        <el-radio label="4座轿车"></el-radio>
                                        <el-radio label="7座面包车"></el-radio>
                                        <el-radio label="21座小巴车"></el-radio>
                                        <el-radio label="33座中巴车"></el-radio>
                                        <el-radio label="其他"></el-radio>
                                    </el-radio-group>
                                </el-form-item>
                            </el-form>

                            <el-form :inline="true" class="demo-form-inline" :rules="rules" :model="coach" ref="coach">
                                <el-form-item label="发车时间" prop="fromTime">
                                    <el-time-select
                                            v-model="coach.fromTime"
                                            :picker-options="{
                                            start: '05:00',
                                            step: '00:10',
                                            end: '20:30'
                                           }"
                                            placeholder="选择时间">
                                    </el-time-select>
                                </el-form-item>
                            </el-form>

                            <el-form :inline="true" class="demo-form-inline" :rules="rules" :model="coach" ref="coach">
                                <el-form-item label="联系方式" prop="driverMobile">
                                    <el-input v-model="coach.driverMobile" placeholder="如 :13200000001"></el-input>
                                </el-form-item>
                                <el-form-item label="昵称">
                                    <el-input v-model="coach.driverName" placeholder="张师傅"></el-input>
                                </el-form-item>
                                <el-form-item label="车牌号">
                                    <el-input v-model="coach.plateNumber" placeholder="鄂A54223"></el-input>
                                </el-form-item>
                            </el-form>
                            <el-form :inline="true" class="demo-form-inline">
                                <el-form-item>
                                    <el-button type="info" @click="submitBlock">发布班次</el-button>
                                </el-form-item>
                                <el-form-item>
                                    <el-button @click="cancelPush">取消</el-button>
                                </el-form-item>
                            </el-form>
                        </el-tab-pane>
                        <el-tab-pane label="行程简介" name="third">
                            <div style="margin: 10px">
                                <h3>简介</h3>
                                1 依托于星云链,提供班次的发布,查询功能<br>
                                2 使用区块链技术,打造班次服务质量的评分系统,公正,公开,一人一票,不可篡改.<br>
                                3 使在外游子回家的最后一站,能够选择最好的乘车服务,随时把握回乡的幸福时刻<br>
                                4 让在老家跑车的师傅们有发布班次服务的平台,通过评分系统来不断提高自己的认可度<br>
                                <h3>使用说明</h3>
                                1 支持 出发城市 到达城市 检索<br>
                                2 支持通过发布账号检索
                                <br><br><br>
                                <span style="color: red">注：由于发布班次需要支付少量旷工费,请先安装<a href="https://github.com/ChengOrangeJu/WebExtensionWallet" target="view_window">星云chrome支付插件</a>,查询班次完全免费</span>
                                <br>
                                <span style="color: red">发布班次成功后,请耐心等待最多15s确认时间,交易确认后会自动跳转到班次列表页面,不需要手动刷新页面</span>
                                <br>
                            </div>
                        </el-tab-pane>

                    </el-tabs>
                </template>
                </template>
            </div>
        </el-col>
    </el-row>


</div>

<script src="lib/coach/coach.js"></script>

<style>
    .h1 {
        font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    }

    .top-box {
        background: url('img/car.jpg') no-repeat;
        width: 100%;
        height: 120px;
        background-size: 100% 100%;
        position: absolute;
    }
</style>
</html>